@model IEnumerable<projet_docteur.Models.docteur>

@{
    ViewBag.Title = "listerdocuseradm";
}

<h2>listerdocuseradm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Disconnect", "Disconnect")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dispo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dispo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
